<li id="<%= dom_id(list) %>">

  <!--<a href="#">-->
    <h2><%= list.name %></h2>
    <!--<span>edit name</span>-->
  <!--</a>-->

  <ol class="actions">
    <li><a class="new-item" href="#" title="New item">+</a></li>
    <li><%= link_to '✓', clear_todo_list_path(list), :class => 'clear', :title => 'Clear done items' %></li>
    <li><%= link_to '✗', todo_list_path(:id => list.id), :class => 'del', :title => 'Delete list' %></li>
    <!--<li><a class="edit" href="#" title="Edit list">✎</a></li>-->
  </ol>

  <ul class="items">
    <%= render :partial => 'items/item', :collection => list.items %>
  </ul>

</li>