<%= content_tag_for :li, list, :class => list.items.any?(&:done?) ? 'has-done' : nil do %>
  <h2><%= list.name %></h2>

  <ol class="actions">
    <li><a class="new" href="#new" title="New item">+</a></li>
    <li><%= link_to mac?? '✗' : 'x', list, :remote => true, :method => 'delete', :class => 'delete',
      :title => 'Delete list', :confirm => 'Are you sure you want to delete this whole list?' %></li>
    <li><%= link_to mac?? '✓' : ':)', clear_todo_list_path(list), :remote => true, :method => 'put', :class => 'clear',
      :title => 'Clear done items' %></li>
  </ol>

  <ul class="items">
    <%= render :partial => 'items/item', :collection => list.items %>
  </ul>
<% end %>
