<%= content_tag_for :li, list do %>
  <h2><%= list.name %></h2>

  <ol class="actions">
    <li><a class="new-item" href="#" title="New item">+</a></li>
    <li><%= link_to mac?? '✗' : 'x', todo_list_path(:id => list.id), :class => 'del', :title => 'Delete list' %></li>
    <li><%= link_to mac?? '✓' : ':)', clear_todo_list_path(list), :class => 'clear', :title => 'Clear done items' %></li>
  </ol>

  <ul class="items">
    <%= render :partial => 'items/item', :collection => list.items %>
  </ul>
<% end %>
