<a href="#newlist" class="create main">New list</a>

<%= form_for @todo_list, :remote => true do |l| %>
  <div>
    <%= l.label(:name, 'List title:') %>
    <%= l.text_field(:name) %>
    <%= l.submit('Create') %>
    <input type="button" value="Cancel" />
  </div>
<% end %>

<%= form_for @item, :remote => true do |i| %>
  <div>
    <%= i.label :description, 'New item:' %>
    <%= i.text_field :description, :size => 24 %>

    <%= hidden_field_tag :todo_list_id %>
  </div>

  <div>
    <%= i.submit 'Add new item' %>
    <input type="button" value="Close" />
  </div>
<% end %>

<ol>
  <%= render :partial => @lists, :as => :list %>
</ol>