<a href="#newlist" class="create main">New List</a>

<%= form_for @todo_list, :remote => true, :format => :html do |l| %>
  <div>
    <%= l.label(:name, 'List title:') %>
    <%= l.text_field(:name) %>
    <%= l.submit('Create') %>
    <input type="button" value="Cancel" />
  </div>
<% end %>

<%= form_for @item, :remote => true, :format => :html do |i| %>
  <div>
    <%= i.label :description, 'New item:' %>
    <%= i.text_field :description, :size => 24 %>

    <%= hidden_field_tag :todo_list_id %>
  </div>

  <div>
    <%= i.submit 'Add new item' %>
    <input type="button" value="Close" />
  </div>
<% end %>

<ol id="todas">
  <%= render :partial => @lists, :as => :list %>
</ol>

<% if @lists.count > 1 %><p>Sort lists with drag &amp; drop!</p><% end %>

<footer>
  <h1>keyboard shortcuts:</h1>
  <dl>
    <dt>Shift + A</dt><dd>new list</dd>
    <dt>ESC</dt><dd>cancel form</dd>
  </dl>
</footer>