<ol>
  <% for list in @lists %>

    <li id="<%= dom_id(list) %>">
      <h2><%= list.name %></h2>

      <ol class="actions">
        <li><a class="new-item" href="#">New item</a></li>
        <li><a class="edit" href="#">Edit list</a></li> <!-- edit only name for start, later incl items -->
        <li><%= link_to 'Delete list', todo_list_path(:id => list.id), :class => 'del' %></li>
      </ol>

      <% form_for @item do |i| %>
        <div>
          <%= i.label :description, 'New item:' %>
          <%= i.text_field :description, :size => 24 %>

          <%= hidden_field_tag 'item[todo_list_id]', list.id %>
        </div>

        <div>
          <%= i.submit 'Add new item' %>
          <input type="reset" value="Cancel" class="ui-priority-secondary" />
        </div>
      <% end %>

      <ul class="items">
        <% for item in list.items %>
          <li><%= item.description %></li>
        <% end %>
      </ul>
    </li>

  <% end %>
</ol>