<%= content_tag_for :li, item, :class => item.done? ? 'done' : nil do %>
  <%= form_for item, :index => item.id, :remote => true do |i| %>
    <div>
      <% value = capture do %>
        <%= i.check_box :done %>
        <span><%= item.description %></span>
      <% end %>
      <%= i.label :done, value %>
    </div>
  <% end %>
<% end %>
