<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ToDo Frenzy</title>

    <%= stylesheet_link_tag "style" %>

    <meta name="author" lang="hr" content="Ivana Vasilj, ivasilj@gmail.com">
    <!-- todo -->
    <meta name="keywords" content="to do todo to-do frenzy list lists task tasks">
    <meta name="description" content="">
  </head>

  <body>
    <h1>ToDo Frenzy</h1>

    <a href="#">Create a new list</a>
    
    <% form_for @todo_list do |l| %>
      <div>
        <%= l.label(:name, 'New list title:') %>
        <%= l.text_field(:name) %> 
        <%= l.submit('Create') %>
        <input type="reset" value="Cancel" class="ui-priority-secondary" />
      </div>
    <% end %>

    <% form_for @item do |i| %>
      <div>
        <%= i.label :description, 'New item:' %>
        <%= i.text_field :description, :size => 24 %>

        <%= hidden_field_tag 'item[todo_list_id]', 0 %>
      </div>

      <div>
        <%= i.submit 'Add new item' %>
        <input type="reset" value="Close" class="ui-priority-secondary" />
      </div>
    <% end %>

    <%= yield %>

    <div style="width:5em; height:5em; background:papayawhip; margin-top:2em; clear:left"></div>
    <div style="width:5em; height:5em; background:ivory"></div>
    <div style="width:5em; height:5em; background:wheat"></div>
    <div style="width:5em; height:5em; background:chocolate"></div>
    <div style="width:5em; height:5em; background:#4C3000"></div>

    <%= javascript_include_tag "jquery-1.4.1.min" %>
    <%= javascript_include_tag "todo-lists" %>
    <%= javascript_include_tag "items" %>
  </body>
</html>
