<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>All my queues</title>

    <%= stylesheet_link_tag "style" %>

    <meta name="author" lang="hr" content="Ivana Vasilj, ivasilj@gmail.com">
    <meta name="keywords" content="to do todo to-do list lists task tasks queue queues allmyqueues">
    <meta name="description" content="(Yet another to-do list) View all your to-do queues at once.">
  </head>

  <body>
    <h1>All my queues</h1>

    <% if logged_in? %>
      <a href="#" class="create">Create a new list</a>

      <nav>
        <ol>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Log out <strong>@<%= current_user.username %></strong></a></li>
        </ol>
      </nav>

      <%= yield %>
  
    <% else %>
      <a href="/login">Sign in with Twitter</a>
    <% end %>

    <%= javascript_include_tag "jquery-1.4.2.min" %>
    <%= javascript_include_tag "todo-lists" %>
    <%= javascript_include_tag "items" %>
  </body>
</html>
