<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tudu Lista</title>

    <%= stylesheet_link_tag "style" %>

    <meta name="author" lang="hr" content="Ivana Vasilj, ivasilj@gmail.com">
    <meta name="keywords" content="tudulista todolist todolista lista tudu to do todo to-do list lists task tasks">
    <meta name="description" content="Tudu Lista - view all your todos at once.">
  </head>

  <body>
    <h1>Tudu Lista</h1>

    <% if logged_in? %>
      <a href="#" class="create">Create a new list</a>

      <nav>
        <ol>
          <li><a href="/about">About</a></li>
          <li><a href="/">Lists</a></li>
          <li><a href="/logout">Sign out <strong>@<%= current_user.username %></strong></a></li>
        </ol>
      </nav>

      <%= yield %>
  
    <% else %>
      <a href="/login">Sign in with Twitter</a>

      <%= render :file => 'todo_lists/about' %>  
    <% end %>

    <%= javascript_include_tag "jquery-1.4.2.min" %>
    <%= javascript_include_tag "todo-lists" %>
    <%= javascript_include_tag "items" %>
  </body>
</html>
