<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" lang="hr" content="Ivana Vasilj, ivasilj@gmail.com" />
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Todas Listas</title>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "style" %>
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <meta name="description" content="Todas Listas - view all your todos at once. A simple and free to-do list web-app, lists all your grouped tasks on a same page." />

    <meta name="google-site-verification" content="MsnXE0MdO1751wU2U6RCk5kHmoIwaVHuUmBZK3twzmE" />
    
    <!--[if lt IE 9]>
    <script type="text/javascript">
    (function(){var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(',');for(var i=0;i<e.length;i++){document.createElement(e[i])}})()
    </script>
    <![endif]-->
  </head>

  <body>
    <header>
      <h1><a href="/about"><img src="/images/logo.png" alt="Todas Listas" /></a></h1>

    <% if logged_in? %>
      <nav>
        <ol>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Sign out <strong>@<%= current_user.username %></strong></a></li>
        </ol>
      </nav>
    <% end %>
    </header>
    
    <% unless logged_in? %>
      <%= link_to 'Sign in with Twitter', twitter_login_path, :class => 'main' %>
    <% end %>

    <%= yield %>
  
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
    <%= javascript_include_tag 'rails', 'todo-lists', 'items', :cache => !Todaslistas::Application.config.heroku %>

    <%= javascript_tag analytics_code if Rails.env.production? %>
      
  </body>
</html>
